body {
    background-image: url('paws_bg.jpg');
    font-family: 'Caveat';

  }
    img{
        display: inline;
    }




    /* ul{
        display: inline-block;
        font-size: 20px;
        justify-content: space-between;
    } */
    
li{
    display: inline-block;
    font-size: 20px;
    justify-content: space-between;
}

p{
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
}


a{
    display: inline;
    text-decoration: none;
}
a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
 